@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar-hide::-webkit-scrollbar {
	display: none;
}

/* Oculta el scrollbar en Firefox */
.scrollbar-hide {
	scrollbar-width: none;
	-ms-overflow-style: none;
}